# Server Setup
WATCHPACK_POLLING =
NODE_ENV =

# Urls
REACT_APP_PUBLIC_BACKEND_URL =

# EndPoints
REACT_APP_PUBLIC_SEND_MAIL =
REACT_APP_PUBLIC_MENU =

# Tokens
REACT_APP_PUBLIC_API_KEY =
REACT_APP_PUBLIC_AUTHORIZATION =
