# Dependencies
node_modules

# Docker
Dockerfile
.dockerignore

# Enviroment
.env
.docker.env

# Linting
.eslintrc.js
.editorconfig

# Public assets
public/manifest.json
public/robots.txt

# Git
.gitignore

# Readme
README.md
