# Created by https://www.toptal.com/developers/gitignore/api/node

### Node
# Logs
logs
yarn-error.log*

# Docs
server/docs
server/dbDocs

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.prod

# Storybook
storybook-static

# Stores VSCode versions used for testing VSCode extensions
launch.json