# Created by https://www.toptal.com/developers/gitignore/api/node

### Node
# Logs
logs
yarn-error.log*

# Docs
server/docs
server/dbDocs

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.docker.env

# Storybook
storybook-static

# React Types
react-app-env.d.ts
vite-env.d.ts

# Build
build

# MacOS
.DS_Store