services:
  db:
    image: mysql:lts-oraclelinux9
    container_name: ${DATABASE_NAME}
    restart: no
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USERNAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - cv_react_db-data:/var/lib/mysql

  db_admin:
    image: phpmyadmin
    container_name: cv_react_db_admin
    ports:
      - 8080:80
    restart: no
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    volumes:
      - cv_react_db-admin:/var/lib/db/data
    depends_on:
      - db

  api:
    build: ./server
    image: ${DOCKER_USERNAME}/cv_react-backend
    container_name: cv_react_backend
    ports:
      - 5000:5000
      - 5555:5555
    env_file:
      - ./server/.docker.env
    restart: no
    volumes:
      - ./server/:/backend
      - /backend/node_modules
    depends_on:
      - db
    command: yarn dev

  web:
    build: ./client
    image: ${DOCKER_USERNAME}/cv_react-frontend
    container_name: cv_react_frontend
    ports:
      - 3000:3000
    restart: no
    env_file:
      - ./client/.docker.env
    volumes:
      - ./client/:/frontend
      - /frontend/node_modules
    depends_on:
      - api
    command: yarn dev

volumes:
  cv_react_db-data:
  cv_react_db-admin:
