# DB
DATABASE_HOST = 
DATABASE_PORT = 
DATABASE_USERNAME = 
DATABASE_PASSWORD = 
DATABASE_NAME = 
DATABASE_URL = 

# Server Setup
DEV_PORT = 
ALLOWEDOMAINS = 
NODE_ENV = 

# Mail details
USERNAME = 
PASSWORD = 

# Tokens
APIKEY = 
AUTHORIZATION = 